/* ----------Sidebar---------- */
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
.padding{
  padding: 2rem;
}
.sidebar {
  background-color: rgb(81, 54, 233);
  height: 100vh;
}
.heading{
  color: white;
  font-weight: 600;
  font-size: 2rem;
}
.dashboard-tab{
  color: white;
  font-size: 1.2rem;
}
.dashboard-tab:hover{
  color: black;
}
.icons{
  margin-right: 20px;
  margin-left: 10px;
}
.nav-link.active {
  background-color: #007bff; /* Change background color when active */
  color: white; /* Change text color */
}
/* ----------Sidebar---------- */
/* ---------Home Banner------------ */
.section-heading{
  font-size: 2rem;
  font-weight: 500;
  color: #1e08e2;
}
.action-button{
  gap:20px;
  justify-content: space-between;

}
/* ---------Home Banner------------ */